body {
  font-family: sans-serif;
  background: #f4f4f4;
}

.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.input-section {
  margin-bottom: 10px;
}

input {
  padding: 6px;
  margin-right: 10px;
}
